footer {
  position: absolute;
  height: 2.5rem;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $secondary-text-color;
  p {
    z-index: 1;
    line-height: .5;
    position: absolute;
    margin: 0;
  }
  &:after {
    content: "";
    position: absolute;
    height: 70px;
    left: -10%;
    right: -10%;
    border-radius: 50%;
    bottom: 0;
    background: #fff;
  }
}