footer {
  position: absolute;
  height: 3rem;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-text-color;
  border-top-left-radius: 100% 70px;
  border-top-right-radius: 100% 70px;

  p {
    z-index: 1;
    line-height: .5;
    position: absolute;
    margin: 0;
  }
}

.home-page {
  height: 5rem;
}