.ec_header {
  padding-top: 1rem;
  background: #040D21;
  height: $header-height;
  width: 100%;
  display: flex;
  flex-direction: row;



  &__menu_icon {
    align-self: start;
    width: 100%;
    height: 100%;
    direction: rtl;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;

    .icon {
      transition: .6s;
      opacity: 1;
      float: left;
      z-index: 3;
      position: absolute;
      &--active {
        transform: rotate(90deg);
        opacity: 0;
        transition: .6s;
      }
    }

    svg {
      margin-right: 1rem;
      color: $secondary-text-color;
      height: 2rem;

    }
  }

  &__item {
    display: flex;
    justify-content: center;
    &--right{
      flex: 1;

    }
    &__nav-logo {
      height: 100%;
      margin: auto auto auto 2rem;
      padding: 1%;
      z-index: 3;
      &__img {
        height: 80%;
        &--full {
          height: 120%;
        }
        color:  white;
        transition: .5s;
        &:hover {
          height: 90%;
        }
      }
    }
    &__nav-link {
      display: block;
      padding: .5rem .5rem;
      font-size: .85rem;
      text-decoration: none;
      transition: .4s;
      text-transform:capitalize;
      @include text-color('secondary', false);
      &:hover {
        @include text-color('hover',false);
      }
    }

    &__nav-link--selected {
      @include text-color('hover',false);
    }

    &__nav-p {
      display: inline-block;
      @include text-color('primary',false);
    }

    ul {
      list-style: none;
      margin: auto 1rem auto auto;
      li {
        float: right;
        margin: 0 .8rem;
      }
    }
  }
  &__full-page-navbar {
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    position: absolute;
    z-index: 2;
    &--hide {
      display: none;
    }
    &__wrapper {
      margin-top: 5.5rem;
    }
  }
}